<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>42661333941-8i359gom9v4hgj9md4f58i5ikfn3shf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42661333941-8i359gom9v4hgj9md4f58i5ikfn3shf3</string>
	<key>API_KEY</key>
	<string>AIzaSyDj32VUts96xdqqTp-kG2bUxe_k934txNI</string>
	<key>GCM_SENDER_ID</key>
	<string>42661333941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Tap-News-iOS-Client</string>
	<key>PROJECT_ID</key>
	<string>tap-news-ios-client</string>
	<key>STORAGE_BUCKET</key>
	<string>tap-news-ios-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42661333941:ios:10a797590cc6cbf0</string>
	<key>DATABASE_URL</key>
	<string>https://tap-news-ios-client.firebaseio.com</string>
</dict>
</plist>